<template name="splash">
  <div id="splash" class="full-page">
    <div class="full-page-inner cover-bg">
      <div class="cover-container">
        <div class="cover-inner">
          <h1 class="cover">Watch Stuff Together.</h1>
          <p class="cover">An awesome Valentine's Day gift brought to you by the ever so awesome Kevin</p>
          <span><input id="username" type="password" placeholder="Super secret password" class="form-control"/>
          <button id="enter" class="btn btn-md btn-primary">Go</button></span>
        </div>
      </div>
    </div>
  </div>
</template>